.contentInfo{
    flex-basis: 4%;
}
.resetPadding{
    padding: 0;
    margin: 0;
}
.Breadscrumbs {
    height: 14px;
    font-size: 11px;
    line-height: 13px;
    padding-top: 8px;
}
.ListTitle{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 203px;
    height: auto;
}
.ListTitleInfo{
    display: flex;
    justify-content: space-between;
    margin: 27px 0;
}
.ListTitleInfoButton{
    display: flex;
    justify-content: flex-end;
}
.ListTitleHeader{
    display: flex;
}
.marginLeft10{
    margin-left: 10px;
}
.BlockWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixedHeight{
    height: 555px;
}